*{
	margin:0px;
	padding:0px;
}

header{
	padding: 5% 0px;
	background-image:url("http://s2.glbimg.com/F9eGqrYCe5U19RoU_og4v_WkvLY=/e.glbimg.com/og/ed/f/original/2017/08/22/eclipse.jpg");
	background-size: 100%;
	background-position: 0px -200px;
}

h1{
	color: white;
}