*{
	margin:0px;
	padding:0px;
}

header{
	padding: 5% 0px;
	background-image:url("https://media.giphy.com/media/cCB73LWgqPk2I/source.gif");
	background-size: 100%;
	background-position: 0px -200px;
}

h1{
	color: white;
}